meta(name="reg_done", content="false")
.album-wrapper
    .wookmark-gallery
        .image-wrapper
            a.fancybox(rel="album1", href="../../img/gallery/album_01/img_0001.jpg", title="Bild 1 von 12")
                img(src="../../img/gallery/album_01/img_0001_thumb.jpg")
                meta(name="href", content="#downloadLink_1")
        .image-wrapper
            a.fancybox(rel="album1", href="../../img/gallery/album_01/img_0001.jpg", title="Bild 2 von 12")
                img(src="../../img/gallery/album_01/img_0001_thumb.jpg")
                meta(name="href", content="#downloadLink_2")
        .image-wrapper
            a.fancybox(rel="album1", href="../../img/gallery/album_01/img_0001.jpg", title="Bild 3 von 12")
                img(src="../../img/gallery/album_01/img_0001_thumb.jpg")
                meta(name="href", content="#downloadLink_3")
        .image-wrapper
            a.fancybox(rel="album1", href="../../img/gallery/album_01/img_0001.jpg", title="Bild 4 von 12")
                img(src="../../img/gallery/album_01/img_0001_thumb.jpg")
                meta(name="href", content="#downloadLink_4")
        .image-wrapper
            a.fancybox(rel="album1", href="../../img/gallery/album_01/img_0001.jpg", title="Bild 5 von 12")
                img(src="../../img/gallery/album_01/img_0001_thumb.jpg")
                meta(name="href", content="#downloadLink_5")
        .image-wrapper
            a.fancybox(rel="album1", href="../../img/gallery/album_01/img_0001.jpg", title="Bild 6 von 12")
                img(src="../../img/gallery/album_01/img_0001_thumb.jpg")
                meta(name="href", content="#downloadLink_6")
        .image-wrapper
            a.fancybox(rel="album1", href="../../img/gallery/album_01/img_0001.jpg", title="Bild 7 von 12")
                img(src="../../img/gallery/album_01/img_0001_thumb.jpg")
                meta(name="href", content="#downloadLink_7")
        .image-wrapper
            a.fancybox(rel="album1", href="../../img/gallery/album_01/img_0001.jpg", title="Bild 8 von 12")
                img(src="../../img/gallery/album_01/img_0001_thumb.jpg")
                meta(name="href", content="#downloadLink_8")
        .image-wrapper
            a.fancybox(rel="album1", href="../../img/gallery/album_01/img_0001.jpg", title="Bild 9 von 12")
                img(src="../../img/gallery/album_01/img_0001_thumb.jpg")
                meta(name="href", content="#downloadLink_9")
        .image-wrapper
            a.fancybox(rel="album1", href="../../img/gallery/album_01/img_0001.jpg", title="Bild 10 von 12")
                img(src="../../img/gallery/album_01/img_0001_thumb.jpg")
                meta(name="href", content="#downloadLink_10")
        .image-wrapper
            a.fancybox(rel="album1", href="../../img/gallery/album_01/img_0001.jpg", title="Bild 11 von 12")
                img(src="../../img/gallery/album_01/img_0001_thumb.jpg")
                meta(name="href", content="#downloadLink_11")
        .image-wrapper
            a.fancybox(rel="album1", href="../../img/gallery/album_01/img_0001.jpg", title="Bild 12 von 12")
                img(src="../../img/gallery/album_01/img_0001_thumb.jpg")
                meta(name="href", content="#downloadLink_12")


#fancyContent_registration
    .registration
        p Um das Bild in hoher Qualität herunterladen zu können müssen Sie sich
            span.openReg  registrieren
            | .
        .reg_form
            form#gallery_register(action="#")
                h4 Registrierung
                p net earum suntiandit, consedipsam fuga. Ut que asi aut idis por audi blacepe rchillu ptatu- sae nectior porestio. Ut perum acea dollest, nat adignis de.
                .input-wrapper
                    label Name
                    input(type="text", name="first_name")
                    input.right(type="text", name="surname")
                .input-wrapper
                    label Email
                        span.reqired *
                    input(type="text", name="email")
                .radio-wrapper
                    .radio
                        input(type="radio", name="radiogroup")
                        label radio1
                    .radio
                        input(type="radio", name="radiogroup")
                        label radio2
                .textarea-wrapper
                    label Kommentare oder Fragen
                    textarea(name="comments")
                .button-wrapper
                    input.button(type="submit", value="übermitteln")