ul.sg-colors
    li
        .sg-swatch(style='background: #ffffff;')
        .sg-label #ffffff
    li
        .sg-swatch(style='background: #0d2e4d;')
        .sg-label #0d2e4d
    li
        .sg-swatch(style='background: #63ab33;')
        .sg-label #63ab33
.clear