div#nav-icon-container
    include ../../00-atoms/02-images/06-icons/01-menuIcons
    include ../../00-atoms/02-images/06-icons/06-closeIcon
    p#nav_text Menü
div#nav.closed
    ul
        li.menu-link
            a(href='#') startseite
        li.menu-link
            a(href='#article-carousel-container') neuigkeiten
        li.menu-link
            a(href='#') anmeldung
        li.menu-link
            a(href='#') ausschreibung
        li.menu-link
            a(href='#') teambörse
        li.menu-link
            a(href='#') ergebnisse
        li.menu-link
            a(href='#course') strecke
        li.menu-link
            a(href='#archive-carousel-container') archiv
.clear