//include ../../../../mixins/javascript
div.result-table
    h3 #{title}
    table.preview-result
        tbody
            include ../../01-molecules/_03-results/01-resultHead
            include ../../01-molecules/_03-results/02-resultContent
            include ../../01-molecules/_03-results/02-resultContent
            include ../../01-molecules/_03-results/02-resultContent
            include ../../01-molecules/_03-results/02-resultContent
            include ../../01-molecules/_03-results/02-resultContent

    include ../../01-molecules/_03-results/00-resultButton

    .result-layer.layer
        .layer-content
            table.full-result
                thead
                    include ../../01-molecules/_03-results/01-resultHead
                tbody
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent

                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent

                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent

                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent

                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent
                    include ../../01-molecules/_03-results/02-resultContent


            .layer-buttons.result-button-container
                .reducer
                    include ../../00-atoms/02-images/06-icons/03-minusIcon