div.result-table
    .tableContent
        h3 #{title}
        table
            tbody
                include ../../01-molecules/_03-results/03-resultHeadSp
                include ../../01-molecules/_03-results/04-resultContentSp
                include ../../01-molecules/_03-results/04-resultContentSp
                include ../../01-molecules/_03-results/04-resultContentSp
                include ../../01-molecules/_03-results/04-resultContentSp
                include ../../01-molecules/_03-results/04-resultContentSp

        include ../../01-molecules/_03-results/00-resultButton

        .result-layer.layer
            .layer-content
                table.full-result
                    thead
                        include ../../01-molecules/_03-results/03-resultHeadSp
                    tbody
                        include ../../01-molecules/_03-results/04-resultContentSp
                        include ../../01-molecules/_03-results/04-resultContentSp
                        include ../../01-molecules/_03-results/04-resultContentSp
                        include ../../01-molecules/_03-results/04-resultContentSp
                        include ../../01-molecules/_03-results/04-resultContentSp
                        include ../../01-molecules/_03-results/04-resultContentSp
                        include ../../01-molecules/_03-results/04-resultContentSp
                        include ../../01-molecules/_03-results/04-resultContentSp
                        include ../../01-molecules/_03-results/04-resultContentSp
                        include ../../01-molecules/_03-results/04-resultContentSp

                .layer-buttons.result-button-container
                    .reducer
                        include ../../00-atoms/02-images/06-icons/03-minusIcon
