div.older-results-comp
    h3 2014
    ul.result-links
        li
            a(href="http://www.sportident.com/timing/download.php?dat=ergebnis/zusatz20140118534797_1.pdf") Teams Männer (PDF)
        li
            a(href="http://www.sportident.com/timing/download.php?dat=ergebnis/zusatz20140118534797_2.pdf") Teams Frauen (PDF)
        li
            a(href="http://www.sportident.com/timing/download.php?dat=ergebnis/zusatz20140118534797_3.pdf") Teams Mixed (PDF)
        li
            a(href="http://www.sportident.com/timing/ergebnis/urkunde.php?wkid=20140118534797&amp;art=" target="_blank") Urkunden