header
    .menu_background
        include ../../01-molecules/00-navigation/00-header-nav
    a.logo_background(href="#")
            include ../../00-atoms/02-images/04-logo
    .green_background
        h1.datum #{racedate}
    .clear


