footer
    .imprint
        include ../../00-atoms/02-images/05-socialIcons
        article
            include ../../00-atoms/01-text/03-copy
            h5 Kontakt
            p.dark
                | LG eXa Leipzig e.V.
                br
                | Meusdorfer Str. 33-35
                br
                | 04277 Leipzig
                br
                | Vorstand    Ronald Speer, Matthias Lappe, Alexander Probst
                br
                | E-Mail    info(at)lg-exa.de
                br
                | Telefon    0341 - 87 81 754
                br
                | Fax    0341 - 87 81 755
                br
                | WWW:&nbsp
                include ../../00-atoms/01-text/04-fbLink
                br
                | Design und technische Realisierung:&nbsp
                include ../../00-atoms/01-text/05-domain

