div.expander
    include ../../00-atoms/02-images/06-icons/02-plusIcon
div.share-plus-reducer
    include ../../01-molecules/01-facebook/01-share-button
    div.reducer
        include ../../00-atoms/02-images/06-icons/03-minusIcon
