p.stylehead headings
include 01-headings
p.stylehead blogquots
include 02-blogquots/01-lightPage
include 02-blogquots/02-darkPage
p.stylehead copyright
include 03-copy
p.stylehead Facebook Verlinkung
include 04-fbLink
