p.stylehead Keyframe (1920x920)
include 01-keyframe
p.stylehead Article-Bilder (1200x640)
include 02-articleImage
p.stylehead Logo
include 04-logo
p.stylehead Social-Icon
include 05-socialIcons
p.stylehead Icons
include 06-icons/01-menuIcons
include 06-icons/02-plusIcon
include 06-icons/03-minusIcon
p.stylehead Favicon
include 07-favicon/01-16x16
include 07-favicon/02-24x24
include 07-favicon/03-32x32
include 07-favicon/04-64x64


