tr
    td
        p 1
    td
        p 1
    td
        p 1. Ü150
    td
        p 51
    td
        p Die schlitternden Hallunken
    td
        p
            a(onclick="writeCertificate('Max müller','team name','03:03:03','1','1','Männer','21.01.2017')") Vorname1 Nachname1,
            a(onclick="writeCertificate('Jean-Pierre Marie Pfaff von Hohenstein','(Winter)Marathon - und das ist erst der Anfang','03:03:03','1','1','Frauen','21.01.2017')") Vorname2 Nachname2,
            a(onclick="writeCertificate('Christoph Latzko-Fünfstück','Teamname','03:03:03','1','1','Mixed','21.01.2017')") Vorname3 Nachname3
    td
        p TMäM
    td
        p 02:55:30