tr

    td
        a(onclick="writeCertificateSplitter('Testperson','Teamname','03:03:03','1','1','m','21.01.2017')") Vorname1 Nachname1
    td
        p Die schlitternden Hallunken
    td
        p 51.1
    td
        p 02:55:30