p.splitterteams Splitterteams
table.splitter-table
    tbody
        tr
            td
                strong Teamname
            td
                strong Läufer/in
            td
                strong StartNr
            td
                strong Zeit
        tr
            td PB im Schnee
            td Rene Caspari
            td 82.2
            td 03:44:16
        tr
            td PB im Schnee
            td Katja von der Burg
            td 82.1
            td 03:44:16
        tr
            td Pain is inevitable.   Suffering is optional.
            td Erik von der Burg
            td 45.3
            td 03:44:41
        tr
            td Pain is inevitable.   Suffering is optional.
            td Bodo Sturm
            td 45.1
            td 03:44:44
        tr
            td Die drei Zöpfe
            td Ute Herfurt
            td 30.2
            td 03:54:44
        tr
            td Die drei Zöpfe
            td Sven Reißig
            td 30.3
            td 03:54:44
        tr
            td TEAM IRON MIND
            td Matthias Pudor
            td 70.2
            td 03:55:32
        tr
            td Die 3 C,, Flocken
            td Constanze Quenzel
            td 53.3
            td 03:57:11
        tr
            td Die 3 C,, Flocken
            td Christine Fischer
            td 53.2
            td 03:57:11
        tr
            td Karower Dachse
            td Johannes Brandl
            td 15.1
            td 03:58:15
        tr
            td Karower Dachse
            td Frank Stein
            td 15.2
            td 03:58:15
        tr
            td Die Otternasen
            td Carsten Rothe
            td 10.3
            td 03:59:07
        tr
            td Die Otternasen
            td Korinna Hofmann
            td 10.2
            td 03:59:07
        tr
            td TEAM IRON MIND
            td Jens Kretzschmar
            td 70.3
            td 04:00:19
        tr
            td Team Puschel
            td Jana Altenburger
            td 68.2
            td 04:00:56
        tr
            td Team Puschel
            td Falk Weidel
            td 68.1
            td 04:00:56
        tr
            td Die Coolman Jogger
            td Andreas Hehl
            td 31.3
            td 04:02:45
        tr
            td Die Coolman Jogger
            td Peter Schütze
            td 31.1
            td 04:02:45
        tr
            td Borna Runners
            td Steffen Wenzel
            td 26.1
            td 04:08:13
        tr
            td Borna Runners
            td Thomas Lorenz
            td 26.3
            td 04:19:20
        tr
            td SAM
            td Serena Trelle
            td 67.2
            td 05:03:34
        tr
            td SAM
            td Manuela Köhler
            td 67.1
            td 05:03:34

