p.splitterteams Splitterteams
table.splitter-table
    tbody
        tr
            td
                strong Teamname
            td
                strong Läufer/in
            td
                strong StartNr
            td
                strong Zeit
        tr
            td SG Leipzig Leutzsch
            td Florian Cramer
            td 84.2
            td 03:33:36
        tr
            td SG Leipzig Leutzsch
            td Sven Riegel
            td 84.1
            td 03:34:43
        tr
            td Mitteldeutscher Gerontologenkongress
            td Ralf Milke
            td 44.1
            td 03:40:06
        tr
            td Mitteldeutscher Gerontologenkongress
            td Wilfried Jackisch
            td 44.3
            td 03:40:10
        tr
            td Milswanca Groß Döbern
            td Pawel Skorupinski
            td 52.1
            td 03:55:58
        tr
            td Milswanca Groß Döbern
            td Silvio Spahn
            td 52.3
            td 03:55:58
        tr
            td LSV 2 / Popgymnastik
            td Ronny Koch
            td 67.1
            td 03:58:31
        tr
            td LSV 2 / Popgymnastik
            td Andre Kunath
            td 67.3
            td 03:58:31
        tr
            td SCC 2
            td Mirko Zedak
            td 50.1
            td 04:04:14
        tr
            td SCC 2
            td Mario Ivawiec
            td 50.3
            td 04:04:14
        tr
            td Team Iron Mind
            td Dominik Elberskirch
            td 43.2
            td 04:09:16
        tr
            td Team Iron Mind
            td Thomas Sacher
            td 43.3
            td 04:09:16
        tr
            td Die Fremdläufer
            td Uwe Höhne
            td 13.3
            td 04:10:34
        tr
            td PIA
            td Petra Werner
            td 07.1
            td 04:33:36
        tr
            td PIA
            td Ines Köhler
            td 07.2
            td 04:33:36
        tr
            td Team Waaahnsinn
            td Jonas Beyer
            td 20.1
            td 04:36:33
        tr
            td Team Waaahnsinn
            td Gabriele Claus
            td 20.2
            td 04:36:33
        tr
            td SchneckenDreier
            td Serena Trelle
            td 03.1
            td 04:58:39
        tr
            td SchneckenDreier
            td Manuela Köhler
            td 03.3
            td 04:58:39
        tr
            td Winterrunners
            td Jürgen Hoppmann
            td 33.2
            td 05:14:56
        tr
            td Winterrunners
            td Markus Drescher
            td 33.3
            td 05:14:58