//<div id='content-head' style='background-image:url(${damfn.getAssetLinkForId(content.image)!})'>

div#content-head(style="background-image: url(/static/img/styleguide/keyframe2016.jpg)")
    div.box
        article
            h1 #{line1}
            h1.clara #{line2}
div.clear

