div#teaser-registration
    article
        h2 #{headline}
        h4 #{subheadline}
        p #{text}
        div.teaser-button-container
            a.teaser-button(href='https://www.sportident.com/timing/meldung/startmeldung.php?wkid=20140118534797' target='_blank') Jetzt Anmelden
            a.teaser-button(href='https://www.sportident.com/timing/meldung/startmeldung.php?wkid=20140118534797' target='_blank') Jetzt Anmelden
            a.teaser-button(href='https://www.sportident.com/timing/meldung/startmeldung.php?wkid=20140118534797' target='_blank') Jetzt Anmelden