div#teaser-infopage
    article
        h3 #{headline}
        p #{text}
        div.teaser-button-container
            a.teaser-button(href='#') Ausschreibung
    include ../../01-molecules/01-facebook/00-facebook-feed
    .clear