div#partner-carousel-container
    h3 Partner
    div#partner-carousel
        //[#list components as component ]
        //[@cms.component content=component /]
        include ../02-components/01-logo
        include ../02-components/01-logo
        include ../02-components/01-logo
        include ../02-components/01-logo
        include ../02-components/01-logo
        include ../02-components/01-logo
    //[/#list]