div#archive-carousel-container
    h3 Archiv
    div#archive-carousel
        //[#assign i = 0]
        //[#list components as component ]
            //[#assign i = i+1]
            //[#assign articleId = 'article_' + i]
            //div_id=${articleId!}
        div.article-container
            include ../02-components/00-article
        div.article-container
            include ../02-components/00-article
        div.article-container
            include ../02-components/00-article
        div.article-container
            include ../02-components/00-article
        div.article-container
            include ../02-components/00-article
        div.article-container
            include ../02-components/00-article
        div.article-container
            include ../02-components/00-article
            //[@cms.component content=component /]
        //[/#list]
    div.button-container
