div#info-area
    h3 #{headline}
    include ../02-components/02-info-comp
    include ../02-components/02-info-comp
    include ../02-components/03-line-comp
    include ../02-components/02-info-comp
    include ../02-components/03-line-comp
    include ../02-components/02-info-comp
    include ../02-components/02-info-comp
