div#latest-results
    include ../02-components/04-result-table
    include ../02-components/04-result-table
    include ../02-components/04-result-table
    include ../02-components/05-splitter-table


