script(src="test-tabel.js")

table.klapptabelle

    tr.main
        td test
        td test
    tr.main

    tr
        td test
        td test
    tr
        td test
        td test
    tr
        td test
        td test