doctype html
html
    head
        include ../../../mixins/head
    body
        div#content-container
            include ../02-organisms/00-global/00-header
            include ../03-templates/01-infopage
            include ../02-organisms/00-global/01-footer
        include ../../../mixins/javascript

