/* headings */
h2 {
  font-size: 20px;
  line-height: 1.5;
}
h3 {
  font-size: 14px;
  line-height: 1.14;
}
h4 {
  font-size: 14px;
  line-height: 1.14;
}
h5 {
  font-size: 14px;
  line-height: 1.71;
}
/* text */
p {
  font-size: 14px;
  line-height: 1.29;
}
p.dark {
  font-size: 14px;
  line-height: 1.29;
}
a {
  font-size: 14px;
}
#content-container {
  padding-top: 100px;
  padding-top: 14.306vw;
}
/* header */
header {
  height: 100px;
  height: 14.306vw;
  width: 100%;
  z-index: 3;
  position: static;
  box-shadow: 7px 2px 9px 0px rgba(13, 46, 74, 0.28);
}
.menu_background {
  height: 100px;
  height: 14.306vw;
  width: 42.78%;
  float: none;
  top: 0;
  position: fixed;
  z-index: 4;
  box-shadow: 7px 2px 9px 0px rgba(13, 46, 74, 0.28);
}
.menu_background #nav_icon {
  margin: 38px 0 38px 58px;
  margin: 5.39vw 0 5.39vw 8.47vw;
  height: 25px;
  height: 3.526vw;
}
.menu_background #close_icon {
  margin: 38px 0 38px 59px;
  margin: 5.39vw 0 5.39vw 8.47vw;
  height: 25px;
  height: 3.526vw;
}
.menu_background #nav_text {
  margin-left: 97px;
  margin-left: 13.83vw;
  font-size: 30px;
  font-size: 4.36vw;
  line-height: 1;
  padding: 35px 0 35px 46px;
  padding: 4.973vw 0 4.973vw 6.53vw;
}
.menu_background #nav a {
  font-size: 20px;
}
#nav.open {
  display: inline-block;
  min-width: 100%;
}
.menu_background #nav ul {
  position: relative;
  width: 100%;
  padding: 22px 59px 36px;
  padding: 3.125vw 8.47vw 5.208vw;
  box-sizing: border-box;
}
.logo_background {
  height: 100px;
  height: 14.306vw;
  float: left;
  width: 57.22%;
  top: 0;
  position: fixed;
  right: 0;
  z-index: 4;
  box-shadow: 7px 2px 9px 0px rgba(13, 46, 74, 0.28);
}
.logo_background img {
  width: 301px;
  width: 43.06vw;
  margin: 28px 59px 0 40px;
  margin: 4vw 8.47vw 0 5.69vw;
}
.green_background {
  height: 75px;
  height: 10.748vw;
  width: 91.53%;
  padding-left: 8.47%;
  padding-top: 25px;
  padding-top: 3.558vw;
}
.green_background h1 {
  font-size: 50px;
  font-size: 7.19vw;
}
/* button */
.teaser-button-container {
  margin-top: 7.5%;
}
.teaser-button-container .teaser-button {
  border: 2px solid #0d2e4a;
  font-size: 12px;
  padding: 5px 10px;
  padding: 0.71vw 1.4vw;
  display: inline-block;
  margin: 7px 7px;
  margin: 2vw 2vw;
}
/* home */
#content-head {
  height: auto;
  background-image: none !important;
}
#content-head .box {
  background: rgba(0, 126, 162, 0.7) url("/static/img/bg-star/bg-star-02.svg") repeat scroll left center / 97% auto;
  position: relative;
  width: 83.34%;
  height: auto;
  padding: 6% 8.33%;
  float: none;
}
#teaser-infopage,
#teaser-registration {
  padding: 7.66% 8.33% 8.33%;
}
#teaser-infopage article {
  width: 100%;
}
/* partner */
#partner-carousel-container h3 {
  padding-left: 6.25%;
  padding-top: 5.22%;
}
#partner-carousel-container #partner-carousel {
  padding: 0 6.25%;
}
/* facebook feed */
.fbFeet {
  display: none;
}
/* article */
#article-carousel-container {
  padding: 5.22% 0 8%;
}
#article-carousel-container #article-carousel {
  width: 87.5%;
  margin-left: 6.25%;
}
#archive-carousel-container {
  padding: 5.22% 0 8%;
}
#archive-carousel-container #archive-carousel {
  margin: 5.22% auto 0;
}
#archive-carousel-container #archive-carousel .article {
  margin: 0 auto 0 0;
  width: 100%;
}
#archive-carousel-container h3 {
  padding-left: 6.25%;
}
#article-carousel-container #article-carousel .article .article-text .text-block {
  height: 54px;
}
#archive-carousel-container #archive-carousel .article .article-text h3 {
  font-size: 14px;
  line-height: 1.14;
  font-weight: bold;
  padding-bottom: 7px;
  padding-bottom: 1vw;
}
#archive-carousel-container #archive-carousel .article .article-text .text-block {
  height: 54px;
}
.article {
  padding-bottom: 6.69%;
}
.article .copyright-line {
  font-size: 12px;
  height: 12px;
  padding: 14px 29px 0;
  padding: 2.08vw 4.16vw 0;
}
.article .article-text {
  padding: 14px 29px 0;
  padding: 2.08vw 4.16vw 0;
}
.article .article-extensions {
  padding: 0 29px;
  padding: 0 4.16vw;
}
.article .expander {
  height: 48px;
  height: 6.88vw;
  width: 48px;
  width: 6.88vw;
  margin-top: 21px;
  margin-top: 3vw;
}
.article .share-plus-reducer {
  margin: 35px 28px 0;
  margin: 5vw 4.16vw 0;
}
.article .share-plus-reducer .fb-share-container {
  padding: 5px 6px 4px;
  padding: 0.8vw 1vw 0.66vw;
}
.article .share-plus-reducer .fb-share-container a {
  font-size: 12px;
}
.slick-dots {
  bottom: -54px;
  bottom: -7.69vw;
}
.slick-dots li {
  height: 26px;
  height: 3.7vw;
  width: 26px;
  width: 3.7vw;
}
/* course */
#course {
  padding: 4.17% 6.25% 5.21%;
}
.course_p {
  padding: 36px 29px;
  padding: 5.22vw 4.16vw;
}
/* footer */
footer {
  padding-bottom: 56px;
  padding-bottom: 8vw;
}
footer article {
  padding-left: 8.33%;
  padding-top: 39px;
  padding-top: 5.6vw;
}
.imprint img {
  height: 48px;
  height: 6.88vw;
  width: 48px;
  width: 6.88vw;
  margin-top: 44px;
  margin-top: 6.25vw;
  margin-left: 47%;
}
/* infopage */
#content-infopage #info-area .info-comp .info-headline {
  width: 100%;
  float: none;
}
#content-infopage {
  padding-top: 28px;
  padding-top: 4.0vw;
}
#content-infopage #info-area .info-comp .break {
  margin-left: 0;
}
/* layer */
.layer .article {
  margin-top: 100px ;
  margin-top: 14.306vw;
  width: 87.5%;
}
.layer .article .share-plus-reducer {
  height: 35px;
  height: 6.88vw;
}
.layer .article .share-plus-reducer .reducer {
  height: 35px;
  height: 6.88vw;
  width: 35px;
  width: 6.88vw;
}
#content-article .wufoo-form {
  width: 100%;
}
/* results */
.result-table {
  margin: 0 2.08% 10%;
  margin: 0 2.08vw 10vw;
  padding: 0;
}
.result-table a {
  color: #0d2e4a;
}
.result-table h3 {
  padding: 3.23% 0 3.23% 5.7%;
  padding: 3.23vw 0 3.23vw 5.7vw;
}
.result-table .result-button-container {
  padding: 8.8% 0;
  padding: 8.8vw 0;
}
.result-table .result-button-container .teaser-button {
  margin: 0 2%;
  margin: 0 2vw;
  padding: 3px;
  font-size: 12px;
  border: 2px solid #0D2E4A;
}
.result-table table tr th {
  padding-right: 2.08%;
  padding-right: 2.08vw;
  padding-bottom: 0.9%;
  padding-bottom: 0.9vw;
}
.result-table table tr th:last-of-type {
  padding-right: 2.7%;
  padding-right: 2.7vw;
}
.result-table table tr th:first-child {
  padding-left: 2.7%;
  padding-left: 2.7vw;
}
.result-table table tr th p {
  font-size: 8px;
}
.result-table table tr td {
  vertical-align: top;
  padding-right: 2.08%;
  padding-right: 2.08vw;
  padding-top: 0.9%;
  padding-top: 0.9vw;
  padding-bottom: 0.9%;
  padding-bottom: 0.9vw;
}
.result-table table tr td:last-of-type {
  padding-right: 2.7%;
  padding-right: 2.7vw;
}
.result-table table tr td:first-child {
  padding-left: 2.7%;
  padding-left: 2.7vw;
}
.result-table table tr td p {
  font-size: 8px;
}
.result-table table tr td a {
  font-size: 8px;
}
.result-layer .layer-content {
  margin: 14.7% auto;
  margin: 14.7vw auto;
  top: 0;
  padding: 3.23% 0 0;
  padding: 3.23vw 0 0;
  left: 0;
}
.result-layer .layer-content .layer-buttons .reducer {
  display: inline-block;
  height: 7%;
  height: 7vw;
  width: 7%;
  width: 7vw;
}
.splinter-table {
  display: none;
}
#content-results {
  padding-bottom: 60px;
  padding-top: 30px;
}
#content-results h2 {
  margin-left: 7.8%;
  margin-left: 7.8vw;
  margin-bottom: 30px;
}
#older-results {
  background-color: #ffffff;
  margin: 0 2%;
  margin: 0 2vw;
}
#older-results ul {
  margin-left: 4.333%;
  margin-left: 4.333vw;
  padding-bottom: 1.56%;
  padding-bottom: 1.56vw;
}
#older-results h3 {
  margin-left: 4.333%;
  margin-left: 4.333vw;
  padding-bottom: 1.8%;
  padding-bottom: 1.8vw;
  padding-top: 5.23%;
  padding-top: 5.23vw;
}
.line {
  border-bottom: 1px solid rgba(13, 46, 74, 0.15);
  margin-left: 4.08%;
  margin-left: 4.08vw;
  margin-right: 4.08%;
  margin-right: 4.08vw;
  margin-bottom: 5px;
}
#older-results {
  margin: 0 2.08%;
  padding-bottom: 4.333%;
  padding-bottom: 4.333vw;
}
#older-results .older-results-comp ul {
  padding-left: 0;
}



#gallery_select select{
  border: 3px solid;

  font-size: 14px;


  padding: 0vh 40px 0vh 1vw;

}

#gallery_select option{
  padding: 1vh 1vw 1vh 1vw;
}



#gallerySelect-button,
#gallerySelect-menu li {
  font-size: 12px;
  border-width: 2px;
}
#gallerySelect-menu li {
  padding: 3px;
}
#gallerySelect-button .ui-selectmenu-text {
  padding: 3px 32px 3px 3px;
}
#gallerySelect-button .ui-selectmenu-text::after {
  font-size: 17px;
}
.registration label {
  font-size: 14px;
  line-height: 1.29;
}
.registration .input-wrapper input[type="text"] {
  font-size: 10px;
  padding: 5px 10px;
}
.registration .button-wrapper button {
  border: 2px solid #0d2e4a;
  display: inline-block;
  font-size: 12px;
  margin: 2vw;
  padding: 0.71vw 1.4vw;
}
.registration .textarea-wrapper textarea {
  font-size: 10px;
  padding: 5px 10px;
}
.registration .checkbox-wrapper input[type="checkbox"] {
  margin: 2px 3px;
}
#gallery-carousel .carousel-item .gallery-teaser-text {
  padding: 1.7vw 4vw 2vw;
}
#gallery-carousel .carousel-item .gallery-teaser-text h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  padding-bottom: 1vw;
}
.gallery-description {
  margin-bottom: 20px;
}
.fancybox-title {
  padding: 24px 3.75% 18px;
}
@media (max-width: 400px) {
  .registration .input-wrapper input[type="text"] {
    width: 100%;
  }
  .registration .input-wrapper input[type="text"].right {
    margin-top: 8px;
    float: left;
  }
}
