div#content-home.content
    //[@cms.area name="ContentHead" content=content /]
    include ../02-organisms/01-areas/00-content-head
    //[@cms.area name="TeaserRegistration" content=content /]
    include ../02-organisms/01-areas/01-teaser-registration
    //[@cms.area name="TeaserInfopage" /]
    include ../02-organisms/01-areas/02-teaser-infopage
    //[@cms.area name="ArticleCarousel" /]
    include ../02-organisms/01-areas/03-article-carousel
    //[@cms.area name="PartnerCarousel" /]
    include ../02-organisms/01-areas/04-partner-carousel
    //[@cms.area name="Course" /]
    include ../02-organisms/01-areas/05-course
    //[@cms.area name="ArchiveCarousel" /]
    include ../02-organisms/01-areas/06-archive-carousel
    include ../02-organisms/03-layer/00-layer-blank